 <%- include('partials/header.ejs') %>
 <h1>Create your own blog-post</h1>
 <form action="/submit" method="post">
   <textarea name="blogPost" id="note" cols="30" rows="10"></textarea>
   <input type="submit" value="publish">
 </form>


 <%- include('partials/footer.ejs') %>